<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Работа с рецептом</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
<div class="loginPanel" sec:authorize="isAuthenticated()">
    <span class="loginName" sec:authentication="name"></span>
    <div class="logoutButton">
        <a th:href="@{/logout}"><img title="Logout" th:src="@{/images/exit.png}"/></a>
    </div>
</div>
<!--<form id="add-form" sec:authorize="hasAuthority('ADMIN')" th:action="@{/recipe/save}" th:if="${recipe == null}"-->
<!--      method="post" action="recipe.html">-->
<!--    <p><strong>Информация рецепта</strong></p>-->

<!--    <div class="row">-->
<!--        <label for="id-input">№ рецепта</label>-->
<!--        <input id="id-input" name="num" type="text" readonly="readonly"/>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <label for="preparation-input">Препараты</label>-->
<!--        <input id="preparation-input" name="preparation" type="text" maxlength="1000"/>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <label for="status-select">Статус выдачи</label>-->
<!--        <select id="status-select" name="status" type="text">-->
<!--            <option value="0">Не выдано</option>-->
<!--            <option value="1">выдано</option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <label for="note-input">Примечание</label>-->
<!--        <input id="note-input" name="note" type="text" maxlength="1000"/>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <label for="card-id-input">№ карты пациента</label>-->
<!--        <input id="card-id-input" name="patientCard.id" type="text" required="required"/>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <a th:href="@{/recipes}" href="recipes.html"><img alt="Back" th:src="@{/images/back.png}"/></a>-->
<!--        <button type="submit"><img alt="Save" th:src="@{/images/save.png}"/></button>-->
<!--    </div>-->
<!--</form>-->

<form id="edit-form" sec:authorize="hasAnyAuthority('ADMIN', 'PHARMACY')" th:action="@{/recipe/save(num=${recipe.num})}"
      th:unless="${recipe == null}" method="post"
      action="recipe.html" th:object="${recipe}">
    <p><strong>Информация рецепта</strong></p>

    <div class="row">
        <label for="id-edit-input">№ рецепта</label>
        <input id="id-edit-input" name="num" type="text" th:value="*{num}" readonly="readonly"/>
    </div>

    <div class="row">
        <label for="preparation-edit-input">Препараты</label>
        <input id="preparation-edit-input" name="preparation" type="text" th:value="*{preparation}" required="required"
               maxlength="1000"/>
    </div>

    <div class="row">
        <label for="status-edit-select">Статус выдачи</label>
        <select id="status-edit-select" name="status">
            <option th:value="*{status}"><span th:text="#{*{status}}"></span></option>
            <option value="NOT_ISSUED">Не выдано</option>
            <option value="ISSUED">Выдано</option>
        </select>
    </div>

    <div class="row">
        <label for="note-edit-input">Примечание</label>
        <input id="note-edit-input" name="note" type="text" th:value="*{note}" maxlength="1000"/>
    </div>

    <div class="row">
        <label for="card-id-edit-input">№ карты пациента</label>
        <input id="card-id-edit-input" name="patientCard.id" type="text" th:value="*{patientCard.id}"
               readonly="readonly"
               value="Art"/>
    </div>

    <div class="row">
        <label for="card-edit-input">Полное имя</label>
        <input id="card-edit-input" name="patientCard.fullName" type="text" th:value="*{patientCard.fullName}"
               readonly="readonly"
               value="Art"/>
    </div>

    <div class="row">
        <label for="dob-edit-input">Дата рождения</label>
        <input id="dob-edit-input" name="patientCard.dob" type="text" th:value="*{patientCard.dob}" readonly="readonly"
               value="Art"/>
    </div>

    <div class="row">
        <label for="address-edit-input">Адрес проживания</label>
        <input id="address-edit-input" name="patientCard.homeAddress" type="text" th:value="*{patientCard.homeAddress}"
               readonly="readonly"
               value="Art"/>
    </div>

    <div class="row">
        <label for="site-edit-input">№ участка</label>
        <input id="site-edit-input" name="patientCard.numSite" type="text" th:value="*{patientCard.numSite}"
               readonly="readonly"
               value="Art"/>
    </div>

    <div class="row">
        <a th:href="@{/recipes}" href="recipes.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
        <button type="submit"><img alt="Save" th:src="@{/images/save.png}"/></button>
    </div>
</form>
</body>
<style>
    body {
        background: url("https://kartinkin.net/pics/uploads/posts/2022-08/1660251959_4-kartinkin-net-p-fon-dlya-prezentatsii-delovoi-kreativnii-k-4.jpg") no-repeat;
    }
</style>
</html>