<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Список рецептов</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            fillData();
        });

        function fillData(page) {
            $.get('/api/archive_recipes' + (page ? '?page=' + page : ''), function (result) {
                let rowsData = '';
                for (let i = 0; i < result.data.length; i++) {
                    let recipe = result.data[i];
                    rowsData += '<tr><td>' + recipe.num + '</td>' +
                        '<td>' + recipe.patientCard.id + '</td>' +
                        '<td>' + recipe.preparation + '</td>' +
                        '<td>' + recipe.note + '</td>' +
                        '</tr>';
                }
                let recipeDataElement = $('#recipeData');
                recipeDataElement.html(rowsData);

                $('#navigation').html(
                    (result.hasPrevious ? ('<a href="javascript:fillData(' + (result.currentPage - 1) + ')">' +
                        '<img title="Предыдущая страница" src="/images/previous.png"/>' +
                        '</a>') : '') +
                    'Текущая страница <span>' + (result.currentPage + 1) + '</span> из <span>' + result.totalPage + '</span>' +
                    (result.hasNext ?  ('<a href="javascript:fillData(' + (result.currentPage + 1) + ')">' +
                        '<img title="Следующая страница" src="/images/next.png"/>' +
                        '</a>') : ''));
            });
        }

    </script>
</head>
<body>
<div class="loginPanel" sec:authorize="isAuthenticated()">
    <span class="loginName" sec:authentication="name"></span>
    <div class="logoutButton">
        <a th:href="@{/logout}"><img title="Logout" th:src="@{/images/exit.png}"/></a>
    </div>
</div>
<p><strong>Рецепты</strong></p>

<div id="navigation"></div>
<table class="recipes">
    <thead>
    <tr>
        <th>№ рецепта</th>
        <th>№ карты</th>
        <th>Препараты</th>
        <th>Примечание</th>
    </tr>
    </thead>
    <tbody id="recipeData"/>
</table>
<div id="toolbar">
    <a th:href="@{/}" href="../index.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
</div>
</body>
<style>
    body {
        background: url("https://kartinkin.net/pics/uploads/posts/2022-08/1660251959_4-kartinkin-net-p-fon-dlya-prezentatsii-delovoi-kreativnii-k-4.jpg") no-repeat;
    }
</style>
</html>