<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Список карт</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            fillData();
        });

        function fillData(page) {
            $.get('/api/cards' + (page ? '?page=' + page : ''), function (result) {
                let rowsData = '';
                for (let i = 0; i < result.data.length; i++) {
                    let card = result.data[i];
                    var actionButtonEdit = '';
                    var actionButtonDelete = '';
                    if (result.admin || result.chief || result.doc) {
                        actionButtonEdit =
                            '<td>' +
                            '<a href="/card/edit?id=' + card.id + '"><img title="Edit" src="/images/edit.png"/></a>' +
                            '</td>'
                    }
                    if (result.admin || result.chief) {
                        actionButtonDelete =
                            '<td>' +
                            '<a data-id="card_' + card.id + '" href="card.html"><img title="Delete" src="/images/delete.png"/></a>' +
                            '</td>'
                    }

                    if (result.chief && card.signatureDoc==='AGREE' && card.signatureChief==='NOT_CONSIDERED') {
                        rowsData += '<tr><td>' + card.id + '</td>' +
                            '<td>' + card.numSite + '</td>' +
                            '<td>' + card.fullName + '</td>' +
                            '<td>' + card.dob + '</td>' +
                            actionButtonEdit +
                            actionButtonDelete +
                            '</tr>';
                    }
                    if (result.admin || result.doc || result.register) {
                        rowsData += '<tr><td>' + card.id + '</td>' +
                            '<td>' + card.numSite + '</td>' +
                            '<td>' + card.fullName + '</td>' +
                            '<td>' + card.dob + '</td>' +
                            actionButtonEdit +
                            actionButtonDelete +
                            '</tr>';
                    }
                }
                let patientCardData = $('#patientCardData');
                patientCardData.html(rowsData);
                if (result.admin || result.chief) {
                    $('a[data-id^=card_]').one('click', function (event) {
                        if (confirm('Are you sure to delete this card?')) {
                            let cardId = $(this).attr('data-id').replace('card_', '');
                            $.ajax({
                                url: '/api/cards/' + cardId,
                                type: 'DELETE',
                                success: function () {
                                    location.href = '/cards';
                                },
                                error: function (jqXHR, exception) {
                                    if (jqXHR.status === 403) {
                                        alert('You have no right');
                                    }
                                }
                            });
                        }
                        event.preventDefault();
                    });
                }

                $('#navigation').html(
                    (result.hasPrevious ? ('<a href="javascript:fillData(' + (result.currentPage - 1) + ')">' +
                        '<img title="Предыдущая страница" src="/images/previous.png"/>' +
                        '</a>') : '') +
                    'Текущая страница <span>' + (result.currentPage + 1) + '</span> из <span>' + result.totalPage + '</span>' +
                    (result.hasNext ? ('<a href="javascript:fillData(' + (result.currentPage + 1) + ')">' +
                        '<img title="Следующая страница" src="/images/next.png"/>' +
                        '</a>') : ''));
            });
        }

    </script>
</head>
<body>
<div class="loginPanel" sec:authorize="isAuthenticated()">
    <span class="loginName" sec:authentication="name"></span>
    <div class="logoutButton">
        <a th:href="@{/logout}"><img title="Logout" th:src="@{/images/exit.png}"/></a>
    </div>
</div>
<p><strong>Карточки пациентов</strong></p>

<div id="navigation"></div>
<table class="cards">
    <thead>
    <tr>
        <th>№ карты</th>
        <th>№ участка</th>
        <th>Полное имя</th>
        <th>Дата рождения</th>
        <th sec:authorize="hasAnyAuthority('ADMIN', 'CHIEF', 'DOC')">Изменить</th>
        <th sec:authorize="hasAnyAuthority('ADMIN', 'CHIEF')">Удалить</th>
    </tr>
    </thead>
    <tbody id="patientCardData"/>
</table>
<div id="toolbar">
    <a th:href="@{/}" href="../index.html"><img alt="Back" th:src="@{/images/back.png}"/></a>
    <a sec:authorize="hasAnyAuthority('ADMIN', 'CHIEF', 'DOC', 'REGISTER')" th:href="@{/card/add}" href="card.html"><img alt="Add" th:src="@{/images/add.png}"/></a>
</div>
</body>
<style>
    body {
        background: url("https://kartinkin.net/pics/uploads/posts/2022-08/1660251959_4-kartinkin-net-p-fon-dlya-prezentatsii-delovoi-kreativnii-k-4.jpg") no-repeat;
    }
</style>
</html>