table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: darkblue;

}
caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
}
thead {
    background: lightskyblue;
}
th {
    /*border-bottom: 3px solid darkblue;*/
    padding: 3px;
    text-align: left;
    border: 1px solid #333;
    background: lightskyblue;
}
td {
    padding: 1px;
    border: 1px solid #333;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: lightskyblue;
}
p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 20px;
    text-align: center;
    padding: 3px;
}

li {
    font-family: Wingding;
    font-size: 30px;
    text-align: center;
}

.holder {
    height: 100px;
    width: 200px;
    background: red;
}

#labelText:read-only {
    float: left;
}

#errorLabel {
    display: none;
}

.loginPanel {
    position: absolute;
    right: 5px;
}

div.row-recipe {
    padding-left: 20px;
    position: center;
}

.loginName {
    padding-right: 5px;
}

.logoutButton {
    float: right;
    cursor: pointer;
}

